.Pagination ul {
  display: flex;
  justify-content: center;
  border: black solid 1px;
  border-radius: 10px;
  width: fit-content;
  margin: 0 auto 20px auto;
  padding: 5px;
}

.Pagination a {
  padding: 10px;

  text-decoration: none;
  color: black;
}

.Pagination a.Arrow--left,
.Pagination a.Arrow--right {
  width: 50px;
}

.Pagination li:hover {
  margin-bottom: 20px;
  font-weight: bold;
  text-decoration: underline;
}
