:root {
  /* Variables de couleures */
  --color-light-primary: rgb(230, 20, 0);
  --color-primary: rgb(175, 0, 0);
  --color-dark-primary: rgb(133, 0, 0);

  --color-secondary: rgb(223, 223, 54);
  --color-dark-secondary: rgb(235, 192, 2);

  --color-tertiary: rgb(245, 245, 220);
  --color-dark-tertiary: rgb(226, 226, 169);

  --color-dark-surface: rgb(52, 58, 64);
  --color-darker-surface: rgb(32, 32, 32);
}

@font-face {
  font-family: ubuntu;
  src: url("../assets/fonts/Ubuntu/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: satisfy;
  src: url("../assets/fonts/Satisfy/Satisfy-Regular.ttf");
}

body {
  font-family: ubuntu, "Times New Roman", Times, serif;
}

h1,
h2 {
  font-family: satisfy, ubuntu, "Times New Roman", Times, serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

main {
  padding-top: 70px;
  width: 90%;
  min-height: 85vh;
  margin: auto;
  margin-bottom: 20px;
}
