@font-face {
  font-family: ubuntu;
  src: url("../assets/fonts/Ubuntu/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: satisfy;
  src: url("../assets/fonts/Satisfy/Satisfy-Regular.ttf");
}

body {
  font-family: ubuntu, "Times New Roman", Times, serif;
}

h1,
h2 {
  font-family: satisfy, ubuntu, "Times New Roman", Times, serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

main {
  padding-top: 70px;
  width: 90%;
  margin: auto;
}
