.footer {
  z-index: 1;
  position: absolute;
  width: 100%;
  background-color: var(--color-dark-surface);
}

.footer__content {
  padding: 10px;
  display: flex;
  height: 100%;
  color: var(--color-tertiary);
  justify-content: space-between;
}

.footer__content a {
  text-decoration: none;
  color: var(--color-tertiary);
}

.footer__content a:hover {
  color: var(--color-dark-tertiary);
}

.footer__content a:visited {
  color: var(--color-tertiary);
}

.footer__content__logo {
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
  }
}