.Button,
.Button button {
  border-radius: 10px;
}

.Button {
  display: flex;
  justify-content: center;
  width: 50%;
}

.Button button {
  border: 2px var(--color-primary) solid;
  background-color: var(--color-light-primary);
  padding: 5px;
}

.Button a {
  font-size: 1.5rem;
  color: var(--color-secondary);
  text-decoration: none;
}

.Button button:hover {
  background-color: var(--color-primary);
}

.Button button:hover a {
  color: var(--color-dark-secondary);
}
