.siteMap {
  display: flex;
  align-items: center;

  ul {
    margin: 0 10px;
  }

  li {
    & > ul {
      margin-left: 10px;
      font-size: 0.8rem;
    }

    a:hover {
      color: var(--color-light-secondary) !important;
    }
  }
}

@media (max-width: 400px) {
  .siteMap {
    flex-direction: column;
    margin: 20px;
    border: white solid 1px;
    padding: 5px;

    .siteMap__liste2 {
      margin-left: -20px !important;
    }
  }
}
