.Hero {
  background-image: url("../../assets/img/transparent-bg.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 70%;
  width: 105.5%;
  height: 850px;
}

.Hero h1 {
  padding-top: 50px;
  color: rgb(175, 0, 0);
}

.Hero p {
  font-size: 1rem;
  width: 440px;
  margin-top: 20px;
}

.Hero hr {
  margin-left: 25px;
  margin-top: 20px;
  width: 45%;
}

.Hero__btn {
  margin-top: 20px;
}

.logo {
  margin: 50px 13%;
  width: 30%;
}

@media (min-width: 1500px) {
  .Hero {
    height: 960px;
  }
  .Hero hr {
    width: 40%;
  }
}

@media (max-width: 1300px) {
  .Hero h1 {
    padding-top: 100px;
  }
}

@media (max-width: 950px) {
  .Hero {
    height: 600px;
  }

  .Hero h1 {
    padding-top: 150px;
  }

  .Hero hr {
    width: 60%;
  }

  .logo {
    display: none;
  }
}

@media (max-width: 700px) {
  .Hero h1 {
    padding-top: 190px;
  }

  .Hero hr {
    width: 80%;
    margin: 20px auto;
  }
}

@media (max-width: 450px) {
  .Hero {
    background: none;
    height: 450px;
  }

  .Hero h1 {
    padding-top: 20px;
  }

  .Hero p {
    width: 100%;
    padding-right: 20px;
  }

  .Hero__btn {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 350px) {
  .Hero {
    margin-bottom: 50px;
  }
}
