.hero {
  background-image: url("../../img/transparent-bg.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 70%;
  width: 105.5%;
  height: 800px;
}

.hero h1 {
  padding-top: 50px;
  color: rgb(175, 0, 0);
}

.hero p {
  font-size: 1rem;
  width: 440px;
  margin-top: 20px;
}

.hero hr {
  margin-left: 25px;
  margin-top: 20px;
  width: 45%;
}

.hero__btn {
  margin-top: 20px;
}

.logo {
  margin: 50px 13%;
  width: 30%;
}

@media (max-width: 1300px) {
  .hero h1 {
    padding-top: 100px;
  }
}

@media (max-width: 950px) {
  .hero {
    height: 600px;
  }

  .hero h1 {
    padding-top: 150px;
  }

  .hero hr {
    width: 60%;
  }

  .logo {
    display: none;
  }
}

@media (max-width: 700px) {
  .hero h1 {
    padding-top: 190px;
  }
}

@media (max-width: 450px) {
  .hero {
    background: none;
    height: 450px;
  }

  .hero h1 {
    padding-top: 20px;
  }

  .hero p {
    width: 100%;
    padding-right: 20px;
  }

  .hero hr {
    width: 80%;
    margin: 20px auto;
  }

  .hero__btn {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 350px) {
  .hero {
    margin-bottom: 50px;
  }
}
