.TableauComparatifs {
  margin-top: 20px;
}

.TableauComparatifs div {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.TableauComparatifs table {
  border-collapse: separate;
  border-radius: 10px;
}

.TableauComparatifs th, .TableauComparatifs
td {
  text-align: center;
  padding: 10px;
  border: darkred 1px solid;
}

.TableauComparatifs tr:first-child th:first-child {
    border-top-left-radius: 15px;
}

.TableauComparatifs tr:first-child th:last-child {
    border-top-right-radius: 15px;
}

.TableauComparatifs tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}

.TableauComparatifs tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}

