.ContactForm {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ContactForm form {
  border: black solid 1px;
  border-radius: 10px;
  padding: 10px;
}

.ContactForm form div {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ContactForm label[for="message"] {
  margin-right: 10px;
}

.ContactForm textarea {
  width: 20rem;
  height: 10rem;
}

.ContactForm button {
  margin-top: 20px;
  border: 2px rgb(133, 1, 1) solid;
  border-radius: 10px;
  background-color: rgb(199, 20, 0);
  color: rgb(223, 223, 54);
  padding: 5px;
  font-size: 1.5rem;
}

.ContactForm button:hover {
  background-color: rgb(230, 1, 1);
  color: rgb(255, 208, 0);
}

@media (max-width: 528px) {
  .ContactForm textarea {
    width: 15rem !important;
  }
}

@media (max-width: 380px) {
  .ContactForm textarea {
    width: 10rem !important;
  }
  .ContactForm input {
    width: 10rem !important;
  }
}
