.main-header {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #343a40;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header li {
  display: inline;
  margin: auto 10px;
  list-style-type: none;
}

.main-header a {
  color: beige;
}

.main-header a:hover {
  color: rgb(226, 226, 169);
}

/* @media (max-width: 600px) {
 
} */
