.HowWork {
  width: 500px;
  margin: auto;
  padding: 20px;
  background-color: rgb(233, 132, 0);
  border-radius: 10px;
}

.HowWork h2,
.HowWork p {
  text-align: center;
}

.HowWork h2 {
  color: rgb(175, 0, 0);
  margin-bottom: 10px;
}

.HowWork p {
  color: white;
}

.HowWork__btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .HowWork {
    width: fit-content;
  }
}
