.EncadreTarif {
  border: rgb(161, 4, 4) 4px solid;
  border-radius: 10px;
  background-color: rgb(214, 37, 37);
  width: 400px;
  height: auto;
  margin: 20px auto 20px;
  padding: 10px;
    transition: 0.2s all ease-out;
}

.EncadreTarif h2,
.EncadreTarif h3 {
  text-align: center;
}

.EncadreTarif h3 {
  font-style: italic;
}

.EncadreTarif ul {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.EncadreTarif li {
  padding: 5px;
  list-style: disc;
}

.EncadreTarif__btn {
  display: flex;
  justify-content: center;
}

@media (max-width: 500px) {
  .EncadreTarif {
    width: 300px;
  }
}

@media (max-width: 350px) {
    .EncadreTarif {
      width: 250px;
    }
  }  
