.CategoriesGrid {
  margin: 50px auto;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 40px;
  row-gap: 40px;
}

@media (max-width: 1300px) {
  .CategoriesGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1075px) {
  .CategoriesGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .CategoriesGrid {
    grid-template-columns: 1fr;
  }
}
