.PostsList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  margin: 20px auto;
}

@media (max-width: 850px) {
  .PostsList {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 550px) {
  .PostsList {
    grid-template-columns: 1fr;
  }
}
